In [ ]:
from datascience import *
import numpy as np

## Review

**Discussion Question 1:** Question 4, Midterm, Spring 2023.
- What will the following Python expression evaluate to?

In [ ]:
'data' + str(round(8.2))

**Discussion Question 1:** Question 1, Final, Fall 2019.
- What will the following Python expression evaluate to?

In [ ]:
make_array(1,2,3) * 2

____

In [ ]:
nba = Table.read_table('nba_salaries.csv')

In [ ]:
recent_curry = nba.where('name', 'Stephen Curry').where('season', are.above(2015))
recent_curry

**Discussion Question 3:** 
- Which of the following two lines of code correctly calculates the average salary of Steph Curry from 2016-2020?

In [ ]:
np.average(recent_curry.select('salary'))

In [ ]:
np.average(recent_curry.column('salary'))

____

In [ ]:
recent_lebron = nba.where('name', 'LeBron James').where('season', are.above(2015))
recent_lebron

**Discussion Question (Challenge)**:
- Which one of following calculations can be performed using array arithmetic and the tables `recent_curry` and `recent_lebron`?
    - The difference in the average salaries of LeBron James and Stephen Curry from 2016-2020
    - The average of the differences of salaries of Lebron James and Stephen Curry from 2016-2020

In [ ]:
np.average(recent_stephen_curry.column('salary'))

## Ranges

In [ ]:
make_array(0,1,2,3,4,5,6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(stop=7)

In [ ]:
np.arange?

In [ ]:
np.arange(start=0, stop=7, step=1)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
np.arange(20,0,-2)

**Discussion Question 4:**    
- What will the following Python expression evaluate to?

In [ ]:
make_array(1,2,3) + np.arange(start=1, stop=4)

## Creating Tables

**Way 1:** Reading from a file

In [ ]:
nba = Table.read_table('nba_salaries.csv')
nba.show(6)

**Way 2:** Creating from scratch

In [ ]:
streets = make_array('Bancroft', 'Durant', 'Channing', 'Haste')
streets

In [ ]:
Table()

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
Table().with_columns(
    'Streets', streets,
    'Blocks from campus', np.arange(4)
)

## Case Study: W.E.B. DuBois

In [ ]:
du_bois = Table.read_table('du_bois.csv')

**Task**: Return the number of rows and columns in this dataset.

In [ ]:
du_bois.num_rows

In [ ]:
du_bois.num_columns

**Task:** Return the information that was recorded on each "individual" in this dataset.

In [ ]:
du_bois.labels

In [ ]:
du_bois

**Task:** Isolate just the information about the families with the highest earning income bracket on average, circa 1900.

In [ ]:
du_bois.sort('ACTUAL AVERAGE', descending=True)

In [ ]:
du_bois.sort('ACTUAL AVERAGE', descending=True).take(0)

**Task:** Estimate the amount of money each that each income class of Black Americans spent on food, circa 1900.

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
du_bois = du_bois.with_columns('Food $', food_dollars)
du_bois